.content img {
    width: 100%;
}

.author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.content .author img {
    width: 150px;

    border-radius: 50%;
    border: 5px solid white;
}

.description {
    margin-left: 20px;
}

.image img {
    height: 300px;
}

.content {
    grid-area: content;
    background-color: #F1F1F1;
    border-radius: 5px;
}