.avatar img {
    width: 150px;
}
.userWrapper {
    display: flex;
}
.userInfo {
    width: 100%;
    padding: 0 40px;
}
.location {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.activePage {
    font-weight: bold;
}
.page {
    cursor: pointer;
}
.preloader {
    height: 100px;
    width: 100px;
}