.navigation {
    grid-area: navigation;
    background-color: #454755;
    border-radius: 5px;
}

.item a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 1.5em;
}
.item {
    padding: 10px;
 }
.item a.active {
    color: gold;
}